[Unit]
Description=Connectaboard run service
After=connectaboard_update.service

[Service]
Type=simple
ExecStart=home/connectaboard/.local/bin/poetry run python connectaboard/main.py
WorkingDirectory=/home/connectaboard/connectaboard
Restart=always
RestartSec=5
User=connectaboard
StandardOutput=append:/var/log/connectaboard_run.log
StandardError=append:/var/log/connectaboard_run.err

[Install]
WantedBy=multi-user.target
