[Unit]
Description=Connectaboard update service
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash /home/connectaboard/connectaboard/services/update.sh
WorkingDirectory=/home/connectaboard/connectaboard
User=connectaboard
StandardOutput=append:/var/log/connectaboard_update.log
StandardError=append:/var/log/connectaboard_update.err
RemainAfterExit=no 

[Install]
WantedBy=multi-user.target
