[Unit]
Description=Connectaboard update service
After=network.target

[Service]
Type=oneshot
WorkingDirectory=/home/connectaboard/connectaboard
ExecStart=/usr/bin/git pull
ExecStart=/home/connectaboard/.local/bin/poetry lock --no-update
ExecStart=/home/connectaboard/.local/bin/poetry install --no-root
User=connectaboard
StandardOutput=append:/var/log/connectaboard_update.log
StandardError=append:/var/log/connectaboard_update.err
RemainAfterExit=no 

[Install]
WantedBy=multi-user.target
